// @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

$md-accent: #49cfcb;
$md-secondary: #49cfcb;
$md-og-bg: #0d1117;

$cyberpunk-poster-purple: #ab3fff;
$cyberpunk-traditional: #c4fbfc;

$font-family-base: "EB Garamond", serif;
$body-bg-dark: #090c11;
$body-secondary-bg-dark: #0c1116;
$nav-link-color: $md-accent;
$card-title-color: $md-accent;
$primary: $md-accent;

@import "/node_modules/bootstrap/scss/bootstrap";

:root {
    --cyberpunk-primary: #ab3fff;
    --underdark-primary: #9357fa;
    --md-health: rgb(0, 175, 123);
    --default-banner: url("../assets/img/bg/3.jpg");
}

// Cyberpunk Theme, choom
[data-theme="cyberpunk"] {
    --bs-body-bg: #000000;
    --bs-secondary-bg-rgb: 13, 7, 24;
    --bs-body-font-family: "Play", sans-serif;
    --bs-primary: var(--cyberpunk-primary);
    --bs-primary-rgb: 171, 63, 255;
    --bs-link-color-rgb: 171, 63, 255;
    --bs-primary-text-emphasis: var(--cyberpunk-primary);
    --bs-primary-bg-subtle: #1e0b2c;
    --bs-primary-border-subtle: #772cb0;
    --default-banner: url("../assets/img/bg/cyberpunk_4.jpg");
    --bs-success: rgb(92, 245, 253);
    --md-health: rgb(92, 245, 253);
    --bs-success-rgb: 92, 245, 253;
}

[data-theme="cyberpunk"] #spellbanner {
    background-image: url("../assets/img/bg/cyberpunk_4.jpg");
    background-position: center;
}

[data-theme="cyberpunk"] .nav-link {
    --bs-nav-link-color: var(--cyberpunk-primary);
    --bs-nav-link-hover-color: #e5c3ff;
}

[data-theme="cyberpunk"] .healthbar {
    --bs-white-rgb: var(--bs-black-rgb) !important;
}

[data-theme="cyberpunk"] #banner-default {
    background-position: top !important;
}

[data-theme="cyberpunk"] #md-diceroller .card-banner {
    background-image: url("../assets/img/cards/cyberpunk-dice.png") !important;
    background-position: center;
}

[data-theme="cyberpunk"] .btn-outline-primary {
    --bs-btn-color: var(--cyberpunk-primary);
    --bs-btn-border-color: var(--cyberpunk-primary);
    --bs-btn-hover-bg: var(--cyberpunk-primary);
    --bs-btn-hover-border-color: var(--cyberpunk-primary);
    --bs-btn-active-bg: var(--cyberpunk-primary);
    --bs-btn-active-border-color: var(--cyberpunk-primary);
}

// Underdark Theme
[data-theme="underdark"] {
    --bs-body-bg: #0b0919;
    --bs-secondary-bg-rgb: 18, 13, 39;
    --bs-primary: var(--underdark-primary);
    --bs-primary-rgb: 147, 87, 250;
    --bs-link-color-rgb: 147, 87, 250;
    --bs-primary-text-emphasis: var(--underdark-primary);
    --bs-primary-bg-subtle: #140b2c;
    --bs-primary-border-subtle: #582cb0;
}

[data-theme="underdark"] .btn-outline-primary {
    --bs-btn-color: var(--underdark-primary);
    --bs-btn-border-color: var(--underdark-primary);
    --bs-btn-hover-bg: var(--underdark-primary);
    --bs-btn-hover-border-color: var(--underdark-primary);
    --bs-btn-active-bg: var(--underdark-primary);
    --bs-btn-active-border-color: var(--underdark-primary);
}

[data-theme="underdark"] .nav-link {
    --bs-nav-link-color: var(--underdark-primary);
    --bs-nav-link-hover-color: #e5c3ff;
}

// PRITNING STYLES WOO
@media print {
    body {
        color: black !important;
    }

    .bi-three-dots {
        display: none !important;
    }

    .mobile-avatar {
        -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari 6 – 15.3, Edge */
        print-color-adjust: exact !important;
        /* Firefox 97+, Safari 15.4+ */
        border-color: black !important;
        border-width: 4px !important;
        height: 280px !important;
        width: 280px !important;
    }

    .text-muted,
    .text-body-secondary,
    .text-secondary-emphasis,
    .text-white,
    .list-group-item-action {
        color: black !important;
    }

    .main-stats label {
        display: block;
        text-align: center !important;
        // margin-bottom: 10px !important;
    }

    .side-bar {
        margin-bottom: 0px !important;
    }

    .list-group-item {
        border: none !important;
        // border-bottom: 1px solid black !important;
    }

    .healthbar span {
        font-weight: bold !important;
        font-size: 21px !important;
    }

    .ability_mod,
    .spl_mod {
        font-weight: bold !important;
    }

    .ability_mod {
        font-size: 30px !important;
    }

    .shadow {
        box-shadow: none !important;
    }

    .notes-view,
    .spell-view {
        max-width: none !important;
    }

    .markdown-body[data-theme=dark] {
        color: black !important;
    }

    .spell-item .text-primary,
    .text-secondary {
        color: black !important;
    }

    .spell-link {
        color: black !important;
    }
}

// ?? why
.list-group-item-action {
    color: var(--bs-list-group-color);
}

.eb-garamond-normal {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.bi-three-dots {
    cursor: pointer;
}